<?xml version="1.0"?>
<object name="portal_controlpanel" xmlns:i18n="http://xml.zope.org/namespaces/i18n"
    i18n:domain="collective.click_to_zoom">

    <!-- -*- extra stuff goes here -*- -->

</object>
